extends layout

block content
  section#topLeftCorner
    h1 
      #clock
  section#topRightCorner
    h1
      #forecast
        .weather-icon
  section#leftMiddle
  section#rightMiddle
  section#leftBottomCorner
  section#rightBottomCorner
