extends layout

block content
  div.top
    section#topLeftCorner
      h1
        #clock
    section#topRightCorner.hidden
      h1
        #temp
      #currentWeather
      br
      h3
        #forecast
          .day#day0
            .lowTemp
            .highTemp
            .icon
            .dayOfWeek
          .day#day1
            .lowTemp
            .highTemp
            .icon
            .dayOfWeek
          .day#day2
            .lowTemp
            .highTemp
            .icon
            .dayOfWeek
          .day#day3
            .lowTemp
            .highTemp
            .icon
            .dayOfWeek
          .day#day4
            .lowTemp
            .highTemp
            .icon
            .dayOfWeek
  section#leftMiddle
  section#rightMiddle
  section#leftBottomCorner
    #music
  section#bottom
    marquee(behavior="scroll" direction="left" scrolldelay="60")#marquee
