extends layout

block content
  section#topLeftCorner
    h1 
      #clock
  section#topRightCorner
    #forecast
    h2
      #temp
  section#leftMiddle
  section#rightMiddle
  section#leftBottomCorner
  section#rightBottomCorner
