extends layout

block content
  section#topLeftCorner
    h1 
      #clock
  section#topRightCorner.hidden
    #forecast
    h2
      #temp
  section#leftMiddle
  section#rightMiddle
  section#leftBottomCorner
    #music
  marquee(behavior="scroll" direction="left" scrolldelay="60")#bottom
    
  
