doctype html
html
  head
    title= title
    link(rel='stylesheet', href="/stylesheets/normalize.css")
    link(rel='stylesheet', href="/stylesheets/weather.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    script(src='/scripts/moment/moment.js')
    script(src='/scripts/jquery/dist/jquery.min.js')
    script(src='https://connect.soundcloud.com/sdk/sdk-3.1.2.js')
    script(src='/scripts/socket.io-client/socket.io.js')
    script(src='/javascripts/clock.js')
    script(src='/javascripts/weather.js')
    script(src='/javascripts/music.js')
  body
    block content
