doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/scripts/moment/moment.js')
    script(src='/scripts/jquery/dist/jquery.min.js')
    script(src='/javascripts/clock.js')
    script(src='/javascripts/weather.js')
  body
    block content
