body {
  background-color: black;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 50px;
  font-family: "Roboto";
  font-weight: lighter;
  color: white;
}

h2 {
  font-size: 30px;
  font-family: "Roboto";
  font-weight: lighter;
  color: white;
}

h3 {
  font-size: 20px;
  font-family: "Roboto";
  font-weight: lighter;
  color: white;
}

a {
  color: #00B7FF;
}

#forecast {
  width: 60%;
  float: left;
}

#temp {
  width: 40%;
  float: left;
}

#today {
  float:right;
}

#topLeftCorner {
  width: 300px;
  position: fixed;
  top: 100px;
  left: 100px;
}

#topRightCorner {
  width: 300px;
  position: fixed;
  top: 100px;
  right: 100px;
}

#leftMiddle {
  width: 300px;
  position: fixed;
  top: 100px;
  right: 100px;
}

#rightMiddle {
  width : 300px;
  position: fixed;
  right: 100px;
}

#leftBottomCorner {
  width : 200px;
  position: fixed;
  left: 100px;
  bottom:200px;
}

#bottom {
  position: fixed;
  bottom: 100px;
  font-style: italic;
}

.hidden {
  display: none;
}
