body {
  background-color: black;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

h1 {
  font-size: 80px;
  font-family: "Roboto";
  font-weight: lighter;
  color: white;
  margin-bottom: .2em;
  line-height: .9em;
}

h2 {
  font-size: 30px;
  font-family: "Roboto";
  font-weight: lighter;
  color: white;
}

h3 {
  font-size: 20px;
  font-family: "Roboto";
  font-weight: lighter;
  color: white;
}

a {
  color: #00B7FF;
}

.grey {
  color: #a8a8a8;
}

#container {
  margin-top: 4em;
}

#clock {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 40px;
  padding-left: 0;
}

#today {
  margin-bottom: 0;
}

#currentWeather {
  float: right;
  margin-top: .7em;
}

#temp {
  float: right;
}

#heading {
  overflow: hidden;
  white-space: nowrap;
}

#forecast {
  width: 300px;
  float: right;
}

.day {
  width: 100%;
  float: right;
}

.day * {
  margin: 0 5px 0 5px;
  float: right;
}

.day .icon .climacon {
  width: 30px;
  height: 30px;
}

.calicon {
  width: 15px;
}


#today {
  float:right;
}


#bottom {
  position: fixed;
  bottom: 100px;
  font-style: italic;
}

#musicbars {
  width: 100px;
}

.hidden {
  display: none;
}
